<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bee Data</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

    <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

    <!-- JavaScript file -->
</head>

<body style="background-color:rgba(247, 238, 145, 0.554)">
    <h1>Bee Colonies Across the US!</h1>
      <p>"Short intro paragraph about our project and what the data is exploring"</p>
    <hr>
      <select id="selDataset" onchange="optionChanged(this.value)"></select>
      <container>
      <div id="line"></div>
      </container>
    <hr>
    <container> 
      <div id="bar"></div>
    </container>
    <hr>
    <container>
      <div id="map"></div>
    </container>
    <hr>
</body>
<script type="text/javascript" src="../static/data/us-states.js"></script>
<script type="text/javascript" src="../static/js/logic.js"></script>
</html>