<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bee Data</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-2.16.1.min.js'></script>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <script type="text/javascript" src="../static/js/typeface-0.10.js"></script>
</head>

<body style="background-color:rgba(247, 238, 145, 0.554)">
    <h1 class="typeface-js" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">American Bee Colony Dashboard</h1>
      <p class="typeface-js" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Using data provided by the USDA, our team built three visualizations to show how bee farming in the US has 
        changed over the past two decades.
        <ul class="typeface-js" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
          <li>Chart 1 shows how the selling price of honey per lb has fluctuated over the course of the study. It is 
          filtered by state and can be changed using the dropdown at the top left corner of the graph.
          </li>
          <li>Chart 2 shows the production volume of honey in lbs by year. It is also filtered by state and will update
          when the dropdown is manipulated.
          </li>
          <li>Chart 3 (map) shows the amount of bee colonies in each state for the most recent year in the study (2021).
          The name of the state and colony count will show in the top right corner of the map when the mouse is
          positioned inside a state's border.
          </li>
        </ul>
      </p>
    <hr>
      <select id="selDataset" onchange="optionChanged(this.value)"></select>
      <container>
      <div id="line"></div>
      </container>
    <hr>
    <container> 
      <div id="bar"></div>
    </container>
    <hr>
    <container>
      <div id="map"></div>
    </container>
    <hr>
</body>
<script type="text/javascript" src="../static/data/us-states.js"></script>
<script type="text/javascript" src="../static/js/logic.js"></script>
</html>